.cont {
    height: 48px;
    background-color: white;
    border-style:solid;
    border-width: 0;
    border-bottom-color: whitesmoke;
    border-bottom-width: 1px;
}


#logo {
     margin-top: 4px;
     width:"17.98%";
     height:"83.3333333%";
     min-width: 10px; 
     display: inline-block;
     float: left;
}
#left-dropdown-button {
    background-color: white;
    display: inline-block;
    margin-bottom: 6px;
    height: 100%;
    width: 100%;
    text-align: left;
    border: 0;
    align-content: center; 
}
#left-dropdown { 
    display: inline-block;
      border-style: solid;
      margin-left: 16px;
      border-width: 2px;
      border-color: white;
      float: left;
      margin-top: 4px;
      width: 12.9375%;
      min-width: 151px;
      border-radius: 5px;
      height: 40px;
}
#left-dropdown:hover {
    border-color: whitesmoke;
}

#dropdown-menu-left {
    width: 100%;
    height: auto;
    max-height: 360px;
    min-width: 200px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.searchTerm {
    margin-left: 5.926%;
    border-radius: 0;
    border: 1px;
    border-style: solid;
    border-color: whitesmoke;
    width: 88.148%;
    background-color: whitesmoke;
    height: 32px;
}
.searchTerm:hover {
    border-color: blue;
    background-color: white;
}

#search-bar {
    display: inline-block;
    margin-left: 0.8333333%; 
    width: 50%;
    border-radius: 5px;
    min-width: 20px;
    margin-top: 8px;
}
.small-icons {
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    margin-left: 0.8333333%; 
    margin-bottom: 1px;
}
.small-icons:hover {
    background-color: whitesmoke;
}
.searchTerm:focus {
    background-color: whitesmoke;
}
.searchTerm:active {
    background-color: whitesmoke;
}

/*night mode switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    float: right;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*right dropdown menu*/
  #right-dropdown {
      display: inline-block;
      margin-left: 0px;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      float: right;
      margin-top: 4px;
      width: 210px;
      border-radius: 5px;
      height: 40px;
  }
  #right-dropdown:hover {
     border-color: whitesmoke;
}

#dropdown-menu-right {
    width: 240px;
    height: auto;
    max-height: 360px;
    min-width: 200px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.dropdown-button {
    width:100%;
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
}

@media only screen and (max-width:1850px) and (min-width:1600px) {
    #search-bar {width: 700px;}
}
@media only screen and (max-width:1600px) and (min-width:1500px) {
    #search-bar {width: 600px;}
}
@media only screen and (max-width:1500px) and (min-width:1375px) {
    #search-bar {width: 500px;}
}
@media only screen and (max-width:1375px) and (min-width:1250px) {
    #search-bar {width: 400px;}
}
@media only screen and (max-width:1250px) and (min-width:1150px) {
    #search-bar {width: 300px;}
}
@media only screen and (max-width:1150px) and (min-width:975px) {
    #search-bar {width: 150px;}
}
@media only screen and (max-width:975px) and (min-width:880px) {
    #search-bar {width: 110px;}
}
@media only screen and (max-width:880px) and (min-width:775px) {
    .small-icons {display: none;}
    #left-dropdown {margin-left: 30px;}
    #search-bar {width: 110px;}
}
@media only screen and (max-width:776px) and (min-width:650px) {
    .small-icons {display: none;}
    #search-bar {width: 110px;}
    #left-dropdown {margin-left: 30px;}
}
@media only screen and (max-width:650px) and (min-width:550px) {
    .small-icons {display: none;}
    #search-bar {width: 55px;}
    #right-dropdown {margin-left: 10px; width: 170px;}
    #left-dropdown {margin-left: 30px;}
}
@media only screen and (max-width:550px) and (min-width:430px){
    .small-icons {display: none;}
    #search-bar {width: 50px; margin-left: 5px;}
    #user-name-karma {display: none;}
    #right-dropdown {width: 75px;margin-right: 3px}
}
@media only screen and (max-width:430px) {
    .small-icons {display: none;}
    #search-bar {width: 50px; margin-left: 5px;}
    #left-dropdown {margin-left: 10px;min-width: 30px;width: 70px;}
    #user-name-karma {display: none;}
    #right-dropdown {width: 75px;margin-right: -3px}
    #dropdown-left-name{display: none}
}


