<nav class="navbar-default navbar-fixed-top">
  <div class="cont container-fluid">
    <div class="navbar-header" id="logo"> 
      <!-- to go to home when click on icon -->
      <a class="log" href="/"> 
        <img alt="Reddit logo" src="//upload.wikimedia.org/wikipedia/en/thumb/5/58/Reddit_logo_new.svg/250px-Reddit_logo_new.svg.png" width="106.65px" height="40px">
       </a>
    </div>
    <div class="dropdown" id="left-dropdown"appDropdown>
        <button class="btn btn-default dropdown-toggle" id="left-dropdown-button" type="button">
          <img src="https://cdn0.iconfinder.com/data/icons/huge-business-icons/512/Growth.png" width="20" height="20" style="margin-right:15px">
          <b>Popular</b>
        <span style="float: right;margin-top: 10px" class="caret" ></span>
        </button>
        <ul class="dropdown-menu" id="dropdown-menu-left">
          <li><input type="text" class="searchTerm" placeholder="Filter"></li>
          <li class="dropdown-header">Reddit Feeds</li>
          <li><a href="#"><img src="https://cdn0.iconfinder.com/data/icons/huge-business-icons/512/Growth.png" width="25" height="25" style="margin-right:15px">
          Popular</a></li>
          <li><a href="#"><img src="https://image.flaticon.com/icons/png/512/39/39915.png" width="25" height="25" style="margin-right:15px">
          All</a></li>
          <li><a href="#"><img src="https://cdn0.iconfinder.com/data/icons/wayfinding-5/24/disability-disabled-access-accomodation-oc-512.png" width="25" height="25" style="margin-right:15px">
          Original content</a></li>
          <li class="dropdown-header">Other</li>
          <li><a href="#"><img src="https://png.pngtree.com/svg/20170911/d76a0fe79e.png" width="25" height="25" style="margin-right:15px">
          Coins</a></li>
          <li><a href="#"><img src="https://cdn2.iconfinder.com/data/icons/seo-web-optimization-ultimate-part1/512/award-512.png" width="25" height="25" style="margin-right:15px">
          Premium</a></li>
        </ul>
    </div>
    <input class="searchTerm" id="search-bar" type="search" placeholder="Search Reddit">
    <div class="small-icons" role="button" title="popular">
    <img src="https://cdn0.iconfinder.com/data/icons/huge-business-icons/512/Growth.png" width="20px" height="20px" style="margin-top:6px">
    </div>
    <div class="small-icons" role="button" title="all">
    <img src="https://image.flaticon.com/icons/png/512/39/39915.png" width="20px" height="20px" style="margin-top:6px">
    </div>
    <div class="small-icons" role="button" title="original content">
    <img src="https://cdn0.iconfinder.com/data/icons/wayfinding-5/24/disability-disabled-access-accomodation-oc-512.png" width="20px" height="20px" style="margin-top:6px">
    </div>
    <button type="button" class="btn btn-outline-primary" (click)="openModal(template)" id="log-in"><b>Log in</b></button>
    <ng-template #template>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-login></app-login>
    </ng-template>
    <button type="button" class="btn btn-outline-primary" id="sign-up"><b>Sign up</b></button>
    
    <div class="dropdown" appDropdown id="right-dropdown">
            <i class="fa fa-user" aria-hidden="false" style="margin-right:20px"></i>
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        <ul class="dropdown-menu dropdown-menu-right" id="dropdown-menu-right">
          <li class="dropdown-header">View opition</li>
          <li><a href="#"><img src="https://cdn3.iconfinder.com/data/icons/miniglyphs/500/058-512.png" width="25" height="25" style="margin-right:15px">
          Night mode
          <label class="switch">
              <input type="checkbox">
              <span class="slider round"></span>
          </label>
          </a></li>
          <li class="dropdown-header">More Stuff</li>
          <li><a href="#"><img src="https://png.pngtree.com/svg/20170911/d76a0fe79e.png" width="25" height="25" style="margin-right:15px">
          Reddit Coins</a></li>
          <li><a href="#"><img src="https://cdn2.iconfinder.com/data/icons/seo-web-optimization-ultimate-part1/512/award-512.png" width="25" height="25" style="margin-right:15px">
          Reddit Premium</a></li>
          <li><a href="#"><img src="https://cdn2.iconfinder.com/data/icons/bold-ui/100/questionmark-512.png" width="25" height="25" style="margin-right:15px">
          Help center</a></li>
          <li><a href="#"><img src="https://cdn4.iconfinder.com/data/icons/navigation-20/32/447-01-512.png" width="25" height="25" style="margin-right:15px">
          Log in / Sign up</a></li>
        </ul>
    </div>
  </div>
</nav>

