body
{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1a1a1b;
    font-family: IBMPlexSans,sans-serif;
    padding: 765* 1236 ;
}
#intro
{
   font-size: 4mm;
    line-height: 1;
    
    -webkit-font-smoothing: antialiased;
    
}
#ff
{
  font-family:IBMPlexSans,sans-serif;
  font-size: 5mm
}
input[type=text]
   {
    text-align: left;
     background-color: rgb(250, 250, 250);
     width:420px;
     height: 50px;
     border-bottom-style: groove;
     border-bottom-color: lightgray;
     display: inline-block;
     border-radius: 2mm;
     box-sizing: border-box
   }
  
  button {
    background-color:#0079D3;
    color: white;
    text-emphasis: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 40px;
    border-radius: 1mm;
    text-align: center;
  }