body{
    background-color: #E4E8EC;
    /* overflow: scroll; */
    /* background-attachment: scroll; */
}

.splitRight{
    right: 0;
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 6%;
    padding: 3%;
}

.splitLeft{
    left: 0;
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 5%;
}

/* take this away ==> */
.row{
    padding: 50px;
    width: 1000px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-left: 25px;
}

.column {
    float: left;
    /* width: 33.33%; */
    padding: 10%;
    height: 300px; /* Should be removed. Only for demonstration */
    width: 70%;
}
/* ==> until this */

.post-container {
    background-color: rgba(255, 255, 255, 0.911);
    height: 100%;;
}

.division{
    float:left; 
    width: 100%; 
    /* padding-top: 10%; */
    /* background-color: whitesmoke; */
    height: auto;
}

.left{
    float:left;
    /* height: 100px;   */
    background-color: transparent;
    padding: 10px;
}

.right{
    float:left;
    width: 80%;
    /* height: 100px; */
    background-color: transparent; 
}

.vote{
    font-size: 12px;
    width: auto;
    height: initial;
    padding: 0;
    background-color: transparent;
    display: inline-block;
}

.voteNum{
    text-align: center;
}

.buttonUpVote:hover{
    color: red;
}

.buttonDownVote:hover{
    color: blue;
}

.thepost{
    float: left;
    /* width: 92%; */
}

.image{
    float: left;
    right: 0;
    width: auto;
}

.commentButton{
    margin-left: 3px; 
    color:white; 
    background-color: rgb(56, 56, 90);
    font-size: 12px;
    height: auto;
    float: right;
}

.commentButton:hover{
    background-color: rgb(77, 97, 112);
}

.commentButton:hover:disabled{
    background-color: blue;
}

.buttons{
    color: gray;
    font-size: 12px;
    width: auto;
    height: auto;
    padding: 0;
}

mat-icon{
    color: gray;
    font-size: 18px;
    height: auto;
}

.underlining:hover{
    text-decoration: underline;
    cursor: pointer;
}

.menuSort{
    height: auto;
}

/* for comment but need to log in */
.commentLogin{
    width: 100%;
    display: inline-block;
    float: left;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(238, 238, 238);
    padding: 20px;
}

.commentLoginLeft{
    float: left;
}

.commentLoginRight{
    float: right;
}

.login{
    background-color: white;
    color: blue;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 5px;
}

.login:hover{
    background-color: white;
}

.signup{
    color:white; 
    background-color: #0179D3;
    margin-left: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

.signup:hover{
    background-color: rgb(6, 138, 240);
}