<form class="division">
  <div class="left">hdc</div>
  <div class="right">nlud</div>

  <br>

  <div class="row">
    <div class="column" id="column1" style="background-color:#aaa; width: 20%">
      <button mat-button id="upvote" class="vote"><mat-icon>arrow_upward</mat-icon></button>
      <h6 id="voteNum">Column 1</h6>
      <button mat-button id="upvote" class="vote"><mat-icon>arrow_downward</mat-icon></button>
    </div>
    <div class="column" id="column2" style="background-color:#bbb; width:80%;">
      <h2>Column 2</h2>
      <p>Some text..</p>
    </div>
  </div>
</form>
