html
{ height: 100%;}

body
{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1a1a1b;
    font-family: IBMPlexSans,sans-serif;
    padding: 765* 1236 ;
    display:block
}

form {
   
    align-content: center;
   
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password]
   {
    
    padding: 22px 12px 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    text-align: center;
    background-color: #fcfcfb;
    width:400px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #0079D3;
    border-radius: 2mm;
    color: white;
    text-emphasis: bold;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    text-size-adjust: auto;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 36px;
  }
  
 
  #forgot
  {
      font-size:11px
  }
  .content
  {
    padding-left: 170px;
    position: relative;
  }