<!DOCTYPE HTML>
<HTML lang ="en">
  <HEAD>
      
  </HEAD>
  <body >
    
      <img id ="eml1" alt="side" src="https://i.kinja-img.com/gawker-media/image/upload/s--iTBPsYfM--/c_scale,f_auto,fl_progressive,q_80,w_800/szxf1726pgnaoivgdpcl.jpg"  width="22%" height="90%" style="position: absolute; background-origin: initial">
    <div class="content">
        <br><br>
        <img alt="Reddit logo" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Reddit_logo_orange.svg/128px-Reddit_logo_orange.svg.png" class="logo" width="40" height="40">
    
        
     
    <form action="action_page.php"  [formGroup]="form" >
  
        <br><br>
        <h4 id="ssinn">Sign in</h4>
        <br><br>
        <div class="container">
          
          <input type="text" placeholder="Username" formControlName="username" required >
          <br>
          <br>
          <input type="password" placeholder="Password" formControlName="password" required>
          <br>
          <br>
          <button type="submit" id ="signin" (click)="login()">SIGN IN</button>
          <br>
          <br>
          <p id =forgot>
          <a (click)="openModal(template1)"><strong>Forgot username</strong></a>
          <ng-template #template1>
            <div class="modal-header">
              <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-forgot-username></app-forgot-username>
          </ng-template>
          .
          <a (click)="openModal(template2)"><strong>Forgot password</strong></a>
          <ng-template #template2>
            <div class="modal-header">
              <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-forgot-username></app-forgot-username>
          </ng-template>
          </p>
          <br><br>
          <p>New to Reddit? <a href=# (click)="openModal(template3)"><strong>SIGN UP</strong></a> </p>
          <ng-template #template3>
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <app-signup></app-signup>
            </ng-template>
            <br><br><br><br>
        </div>
    </form>
    
    
    </div>
   
      
  </body>
</HTML>
