html
{ height: 100%;
 }

body
{
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1a1a1b;
    font-family: IBMPlexSans,sans-serif;
   
    
    display:block
}
.modal-header
{
  padding: 10px;
}
.Uname .pass
{
  cursor: pointer;
  font-family: IBMPlexSans,sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
}

#Uname:hover{
  cursor: pointer;
}
#pass:hover{
  cursor: pointer;
}

form {
   
    align-content: center;

   
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password]
   {
    padding: 22px 12px 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    text-align: center;
    background-color: #fcfcfb;
    width:38%;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    
  }
  
  /* Set a style for all buttons */
  button[type="submit"]{
    font-family: IBMPlexSans,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    border: none;
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
    background: #0079d3;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    line-height: unset;
    height: 35px;
    width: 10%;
    min-width: 155px;
    overflow: inherit;
    position: relative;
    outline: none;
  }
  button[type="submit"] :disabled
  {
    font-family: IBMPlexSans,sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    line-height: 32px;
    color: #fff;
    display: inline-block;
    border: none;
    border-radius: 4px;
    text-align: center;
    vertical-align: center;
    background: #afcee6;
    text-transform: uppercase;
    cursor:not-allowed;
    outline: 0;
    line-height: unset;
    height: 35px;
    width: 10%;
    min-width: 155px;
    overflow: inherit;
    position: relative;
    outline: none;
  }
  
 
  #forgot
  {
      font-size:11px
  }
  .content
  {
   
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #1a1a1b;
    font-family: IBMPlexSans,sans-serif;
   width: 397;
   height: 392;
   margin-left: 22%;
  }
  #ssinn{
    position: relative;
    display: inline-block;
    font-family: IBMPlexSans,sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 20px 0;
    color: #1a1a1b;
    font-family: IBMPlexSans,sans-serif;
  
  }
  #ssinn   #eml1 
  {
    text-align: right;
    position: relative;
    display:inline-block;

  }
  