#hed
{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(28, 28, 28);
}
#tit
{
    width:50%;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
    margin-bottom: 32px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(237, 239, 241);
}
#txt
{
    
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#fback
{
    background-color: rgb(255, 255, 255);
    color: rgb(28, 28, 28);
    box-sizing: border-box;
    height: 48px;
    margin-bottom: 8px;
    width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 239, 241);
    border-image: initial;
    border-radius: 4px;
    padding: 12px 24px 4px 12px;
}
input[type=text], input[type=password]
   {
    width:50%;
    padding: 22px 12px 10px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    text-align: center;
    background-color: #fcfcfb;
    width:400px;
    height: 48px;
    display: inline-block;
    box-sizing: border-box
  }
  #chng
  {
    position: relative;
    display:inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 121, 211);
    fill: rgb(0, 121, 211);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
    margin-left: 30%;
}
#deactivate
{
    position: relative;
    display:inline-block;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 88, 91);
    color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 32px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(255, 88, 91);
    width:10%;
    margin-left:2%;

}
#deactivate:hover{
    cursor: pointer;
}