<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class ="container">
         <p id="tit">Deactivate your account</p> 
         <br>

         <div id="txt">
         Sorry to see you go!
         <br><br>
          <ul>
            <li>
                If you are having a problem on Reddit, please consider contacting 
                <br>
                us about it before deactivating your account.
                <br>
            </li>
            <br>
            <li>
                Deactivating your account will not delete the content of posts and 
                <br>
                comments you've made on Reddit. To do so please delete them 
                <br>
                individually.
            </li>
          </ul>
        </div>
      
    </div>
  </body>
</html>