<form class="comment-container" id="commenting" [ngStyle]="{'width':innerWidth2+'px'}">
  <div class="upper">
    <p style="color:grey;"><mat-icon style="font-size:13px;">mode_comment</mat-icon><span class="underlining" style="color:blue">{{comments[0]?.author_username}}</span>
       commented on  . <span routerLink="/viewPost/{{post?.title}}" (click)="viewPost(post?.post_id)">.{{post?.title}}</span> <span class="underlining" style="font-weight: bold;color:black;">u/{{post?.community}}</span>
        . Posted by <span class="underlining">u/{{post?.author_username}}</span>
    </p>
  </div>
  <!-- second part -->
  <div class="lower" *ngFor="let comment of comments;">
    <blockquote style="font-size: 13px;">
      <p style="color:grey;"><span class="underlining" style="color:blue; font-weight: bold;">{{comment?.author_username}}</span>
        {{comment?.upvotes}} point . <span class="underlining">{{comment?.duration}}</span>
      </p>
      <p style="font-size:15px; margin-top: 0; margin-bottom: 0;">{{comment?.body}}</p>
      <!-- buttons -->
      <button mat-button id="reply" class="underlining">Reply</button>
      <button mat-button id="share" class="underlining dropdown-toggle" data-toggle="dropdown">Share
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#"><mat-icon>link</mat-icon> Copy link</a></li>
          <li><a href="#"><mat-icon>code</mat-icon> Embed</a></li>
        </ul>
      </button>
      <div>
        <button mat-button id="more{{comment?.comment_id}}" class="dropdown-toggle" data-toggle="dropdown"><mat-icon>linear_scale</mat-icon>
          <ul class="dropdown-menu dropdown-menu-right dropdown">
            <li><a *ngIf="true; else elseBlockSave" href="#" id="save" (click)="saveComment(comment?.comment_id)"><mat-icon>bookmark_border</mat-icon> Save</a></li>
            <ng-template #elseBlockSave><a href="#" id="save" style="color:blue;" (click)="unsaveComment(comment?.comment_id)"><mat-icon>bookmark</mat-icon> Unsave</a></ng-template>
            <li><a href="#"id="edit{{comment?.comment_id}}"><mat-icon>edit</mat-icon> Edit</a></li>
            <li><a href="#" id="delete{{comment?.comment_id}}"><mat-icon>delete_forever</mat-icon> Delete</a></li>
            <li><a href="#" id="_remove{{comment?.comment_id}}" class="others" *ngIf="innerWidth < 268;"><mat-icon>delete</mat-icon> Remove</a></li>
            <li><a href="#" id="_spam{{comment?.comment_id}}" class="others" *ngIf="innerWidth < 268;"><mat-icon>horizontal_split</mat-icon> Spam</a></li>
            <li><a href="#" id="_verify{{comment?.comment_id}}" class="others" *ngIf="innerWidth < 268;"><mat-icon>verified_user</mat-icon></a></li>
          </ul>
        </button>
      </div>
      <!-- <button mat-button *ngIf="innerWidth >= 494;"><mat-icon></mat-icon>.</button> -->
      <button mat-button id="remove{{comment?.comment_id}}" class="others" *ngIf="innerWidth >= 268;"><mat-icon>delete</mat-icon> Remove</button>
      <button mat-button id="spam{{comment?.comment_id}}" class="others" *ngIf="innerWidth >= 332;"><mat-icon>horizontal_split</mat-icon> Spam</button>
      <button mat-button id="verify{{comment?.comment_id}}" class="others" *ngIf="innerWidth >= 397;"><mat-icon>verified_user</mat-icon></button>
    </blockquote>
  </div>
</form>

<app-view-single-post style="display:none;" [sharedData]="comment"></app-view-single-post>