<!-- this is the body of the component html of posts layout -->
<body>

  <!-- this div is for the rest of the page were posts and there title should be shown here, 
    this is in case we put another div for adds or reddit options or whatever -->
  <div id="restPage">

    <!-- this div is were all posts are put in and making all features for them -->
    <div id="posts">
      <br>
      <!-- we make a mat-card for each post -->
      <!-- this first mat-card is just for trial to ensure making posts from a single object and getting all its attributes from it -->
      <mat-card style="cursor:pointer" *ngIf="postObj.hidden === 'false'">
        <!--  -->
        <div class="division" id="first">
          <div>
            <button disableRipple mat-icon-button id="upVote" class="buttonUpVote" (click)="upVote()"><mat-icon >arrow_upward</mat-icon></button>
                  
            <h6 id="voteNum">{{posts.votes}}</h6>
            
            <button disableRipple mat-icon-button id="downVote" class="buttonDownVote" (click)="downVote()"><mat-icon>arrow_downward</mat-icon></button>
            
          </div>
          
        </div>
        
        <div class="division" id="second"><img src="{{posts.image}}" id="imgPost"></div>
        
        <div class="division" id="third">
        
          <div id="title" onclick="parent.location='https://www.reddit.com/r/MovieDetails/comments/b2yiz6/in_blade_runner_2049_2017_replicants_can_be/'">{{posts.title}}  <a id="postLink" href="https://i.redd.it/cw7oa54rc3n21.jpg">https://i.redd.it/cw7oa5..<mat-icon>open_in_new</mat-icon></a></div>
        
          <div id="userInfo">
        
            <p>
        
              <span class="hoving" id="postType" onclick="parent.location='https:'+'//www.reddit.com/'">                        
                {{posts.type}}</span> Posted by <span class="hoving">{{posts.username}}</span> {{posts.date}}
            </p>
                  
                
          </div>
          
          <button onclick="parent.location='localhost:4200'" mat-button id="firstIcon" class="buttons" ><mat-icon>open_in_new</mat-icon></button>
          
          <button onclick="parent.location='localhost:4200'" mat-button id="comment" class="buttons" ><mat-icon>mode_comment</mat-icon> {{posts.comments}} Comments</button>
          
                 
          <button onclick="parent.location='localhost:4200'" mat-button id="giveAward" class="buttons" ><mat-icon>stars</mat-icon> Give Award</button>
          
                
          <button mat-button [matMenuTriggerFor]="menu" id="share" class="buttons" ><mat-icon>reply</mat-icon> Share</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Item 1</button>
              <button mat-menu-item>Item 2</button>
            </mat-menu>
             
          <button mat-button (click)="save()" *ngIf="postObj.saved === 'false'; else elseBlockSave" id="save" class="buttons" ><mat-icon>add_box</mat-icon> Save</button>
          <ng-template #elseBlockSave><button (click)="unsave()" mat-button id="unSave" class="buttons" ><mat-icon>add</mat-icon> Unsave</button></ng-template>
          <button mat-button (click)="hide()" *ngIf="postObj.hidden === 'false'; else elseBlockHide" id="hide" class="buttons" ><mat-icon>block</mat-icon> Hide</button>
          <ng-template #elseBlockHide><button mat-button (click)="unhide()" id="unHide" class="buttons" ><mat-icon>block</mat-icon> Unhide</button></ng-template>
          <button onclick="parent.location='localhost:4200'" mat-button id="report" class="buttons" ><mat-icon>flag</mat-icon> Report</button>
          <br>
          <br>
        </div>
        
        <br>
        
        <br>
        
        <br><br>
        
      </mat-card>

      
    </div>
</div>
    
</body>
