#tit
{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
    margin-bottom: 32px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(237, 239, 241);
}
#aset
{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    color: rgb(28, 28, 28);
    fill: white;
    max-width: 1200px;
    padding: 16px 20px 20px;
    margin: 0px auto;
    vertical-align: center;
}
#hed
{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
    color: rgb(28, 28, 28);
  
}
#chng
{
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 121, 211);
    fill: rgb(0, 121, 211);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);

}
#box
{
    display: block;
}
body {
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: IBMPlexSans, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}