<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class="container">
      <div id="box">
        <p id = "aset" >Account settings</p>
        <p id ="tit"> ACCOUNT PREFERENCES</p>
        <p id="hed"  style ="margin-right:1.5%" >Email Address </p>
        <button id ="chng">CHANGE</button>
        <p id="tit" >{{Email}}</p> 
        
      </div>
      <br>
      <p id="hed">Change password</p> 
      <button id ="chng">CHANGE</button>
      <p id="tit" >Password must be at least 6 characters long</p> 



      <p id="deactivate" (click)="openModal(template)" >DEACTIVATE ACCOUNT</p>
      <ng-template #template>
          <div class="modal-header">
            <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
       <app-deactivate-account></app-deactivate-account>
        </ng-template>
      
    </div>
  </body>
</html>
