#tit
{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
    margin-bottom: 32px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(237, 239, 241);
}
#aset
{
    color: rgb(28, 28, 28);
    font-size: 20px;
    line-height: 24px;
    padding: 40px 0px;
    display: block;
    font-weight: 500;
    font-family: IBMPlexSans,sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 2mm;
}
#hed
{
    position: relative;
    display:inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 4px;
    color: rgb(28, 28, 28);
  
}
#chng
{
    position: relative;
    display:inline-block;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: transparent;
    color: rgb(0, 121, 211);
    fill: rgb(0, 121, 211);
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-radius: 4px;
    text-decoration: none;
    padding: 3px 16px;
    border-color: rgb(0, 121, 211);
    margin-left: 40%;

}
#hed #chng
{
    display:inline-block;
    margin-left: 2px;
}
#box
{
    display:block;
}
#deactivate
{
    display: flex;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 24px;
    text-transform: uppercase;
    color: rgb(255, 88, 91);
    margin-left: 45%;
    margin-bottom: 2%;
}
#deactivate:hover{
    cursor: pointer;
}
body {
    min-height: calc(100vh - 48px);
    line-height: 1;
    font-family: IBMPlexSans, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}