#toolbar {
    height:40px;
    background-color: transparent;
    border-width: 0px;
}
#navbar {
    height: 100%;
    border-width: 0px;
    margin-top: 4px;
    
}
.navbar-item {
    height:100%;
    -webkit-text-fill-color: black;
    border-width: 0px;
    font-size: medium;
}
.navbar-item:hover {
    -webkit-text-fill-color: rgb(0, 121, 211);
    background-color: transparent;
}

.navbar-item:focus {
    border-bottom-width: 4px;
    border-style: solid;
    border-bottom-color: rgb(0, 121, 211);
    background-color: transparent;
    -webkit-text-fill-color: rgb(0, 121, 211);
    height: 42px;
}
.navbar-item:active {
    border-bottom-width: 4px;
    border-style: solid;
    border-bottom-color: rgb(0, 121, 211);
    background-color: transparent;
    -webkit-text-fill-color: rgb(0, 121, 211);
    height: 42px;
}
h4 {
    margin-top: 64px;
}
#user-settings {
    margin-bottom: 15px;
    padding-left: 32px;
}