<!DOCTYPE HTML>
<HTML lang ="en">
  <HEAD>
      
  </HEAD>
  <body >
    <div>
      <p id=uset>User Settings</p>
      <hr>
    </div>
    

    <nav id="menubar">
      <ul id="menu">
      <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
        <li class="selected"><a routerLink="/account-setting" routerLinkActive="active">Account</a></li>
        <li><a routerLink="/profile-setting" routerLinkActive="active">Profile</a></li>
      </ul>
    </nav>
      
  </body>
</HTML>
