<div class="container">
  <div class="col-md-8">
    <h4 id="user-settings">User settings</h4>
    <hr>
    <nav class="navbar navbar-default" id="toolbar">
      <div class="nav nav-tabs" id="navbar">
        <li><a routerLink="/settings/account" id="account" class="navbar-item">Account</a></li>
        <li><a routerLink="/settings/profile" id="profile" class="navbar-item">Profile</a></li>
        <li><a routerLink="/settings/privacy" id="privacy" class="navbar-item">Privacy & Security</a></li>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
