<!DOCTYPE HTML>
<HTML lang ="en">
  <HEAD>
      
  </HEAD>
  <body >
    <br><br><br><br><br>

    <div id="intro">

      <h4>
       <strong id ="ff">Join the worldwide conversation.</strong> 
      </h4>
      By having a Reddit account, you can subscribe, vote, and
      <br>
       comment on all your favorite Reddit content.
       <br>
        Sign up in just seconds.
    </div>
   
    <br>
  
      <form action="action_page.php" [formGroup]="form">
  
        
          <div class="container">
            
            <input type="text" placeholder="Email" name="email"  formControlName="email" required >
            <br><br>
            
            <button type="submit" (click)="next()"><strong>Next</strong></button>
            <br>
            <p>
            Already a Redditor?
            .
            <a href="#"><strong>LOG IN</strong></a>
            </p>
          <P>
            By signing up, you agree to our <a href=#>Terms</a> and that you have read our
            <br>
             <a href=#>Privacy Policy</a> and <a href=#>Content Policy</a>.
          </P>
          </div>
      </form>
  </body>
</HTML>
