#title {
    color: rgb(28, 28, 28);
    font-size: 20px;
    line-height: 24px;
    padding: 40px 0px;
    display: block;
    font-weight: 500;
    font-family: IBMPlexSans,sans-serif;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 2mm;
}
.blocking{
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
    margin-bottom: 32px;
    padding-bottom: 6px;
    border-bottom: 2px solid rgb(237, 239, 241);
}
.add-block {
    margin-bottom: 128px;
}
form.add-block input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(237, 239, 241);
  float: left;
  width: 80%;
  background: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
}
form.add-block button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #0079d3;
  color: white;
  font-size: 17px;
  border: 1px solid rgb(237, 239, 241);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}  
form.add-block button:hover {
  background: #0889ec;
}
#blocked-button {
  padding-top:7px;
  float: left;
  background-color: transparent;
  border-width: 0;
}
#blocked-button:hover {
  background-color: rgb(230, 228, 228);
}
#remove {
  font-weight: bold;
  margin-block-start: 9px;
  float: right;
}
#remove:hover {
  text-decoration: none;
}