<nav style="margin-top:48px" class="navbar navbar-default" id="toolbar">
  <div class="container-fluid">
    <div class="nav nav-tabs" id="navbar">
      <li><a class="navbar-item" href="#">Overview</a></li>
      <li><a class="navbar-item" href="#">Posts</a></li>
      <li><a class="navbar-item asd2" href="#">Comments</a></li>
      <li><a class="navbar-item asd2" href="#">Saved</a></li>
      <li><a class="navbar-item asd" href="#">Hidden</a></li>
      <li><a class="navbar-item asd" href="#">Upvoted</a></li>
      <li><a class="navbar-item asd" href="#">Downvoted</a></li>
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i></a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="dropdown-hidden-items2" href="#">Comments</a></li>
            <li><a class="dropdown-hidden-items2" href="#">Saved</a></li> 
            <li><a class="dropdown-hidden-items" href="#">Hidden</a></li>
            <li><a class="dropdown-hidden-items" href="#">Upvoted</a></li>
            <li><a class="dropdown-hidden-items" href="#">Downvoted</a></li>
            <li><a href="#">Gilded (legacy)</a></li>
          </ul>
      </li>
    </div>
  </div>
</nav>