<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <img alt="side" src="https://i.kinja-img.com/gawker-media/image/upload/s--iTBPsYfM--/c_scale,f_auto,fl_progressive,q_80,w_800/szxf1726pgnaoivgdpcl.jpg"  width="156px" height="430px" style="position: absolute">
    
    
    <div class = "container">
      <br><br>
      <img alt="Reddit logo" src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Reddit_logo_orange.svg/128px-Reddit_logo_orange.svg.png" class="logo" width="40" height="40">
      <p id = tit>
        Reset your password
      </p>
      <p id = "cont">
        Don't worry! 
        You may have forgotten your password, 
        but 
        <br>
        we can help you out. 
        Enter your username below and we'll 
        <br>
        email you a link to reset your password.
        <br>
       </p>
      <form action="action_page.php" >
        <input type="text" placeholder="USERNAME" name="username"  formControlName="username" required >
        <br>
        <br>
        <input type="email" placeholder="EMAIL" name="email"  formControlName="email" required >
        <br>
        <br>
        <button type="submit" (click)="emailme()" ><strong>EMAIL ME</strong></button>
      </form>
   
      <a id="fUname" (click)="openModal(template1)"><strong>FORGOT USERNAME</strong></a>
        <ng-template #template1>
          <div class="modal-header">
            <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <app-forgot-username></app-forgot-username>
        </ng-template>
        <br>
        <p id="trbp">
            If you are having trouble accessing your account, follow
              <a href="https://www.reddithelp.com/en/categories/rules-reporting/account-and-community-restrictions/my-account-was-suspended-or-locked"> this link</a>.
          </p>
        <div class="aa">
         <a (click)="openModal(template2)"><strong>LOG IN</strong></a>
          <ng-template #template2>
            <div class="modal-header">
              <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-login></app-login>
          </ng-template>
          .
          <a (click)="openModal(template3)"><strong>SIGN UP</strong></a>
          <ng-template #template3>
            <div class="modal-header">
              <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <app-signup></app-signup>
          </ng-template>
        </div>

       
              
              
      
       
    </div>



  </body>

</html>