<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <div class = "container">
        <p id = tit>
          Recover your username
        </p>
        <p id = "cont">
          Don't worry! 
          You may have forgotten your username, 
          but we can help you out. 
          Enter your email address below and we'll email you your username.
        </p>
        <form action="action_page.php" [formGroup]="form">
          <input type="text" placeholder="Email" name="email"  formControlName="email" required >
          <button type="submit" (click)="next()"><strong>EMAIL ME</strong></button>
        </form>
        <br>
        <P>
            If you are having trouble accessing your account, follow
             <a href=#> this link</a>.
        </P>
        <a routerLink="./login" routerLinkActive="active"><strong>LOG IN</strong></a>
        <a routerLink="./signup" routerLinkActive="active"><strong>SIGN UP</strong></a>

       
              
              
      
       
    </div>



  </body>

</html>